<div class="profile-swiper">

    <div class="card-wrap">


        <md-card
                ng-repeat="profile in filteredProfiles = (ProfileSwiperController.profiles | filter: ProfileSwiperController.pendingReview)"
                ng-swipe-right="ProfileSwiperController.approve(profile)"
                ng-swipe-left="ProfileSwiperController.reject(profile)"
        >
            <img class="md-card-image" ng-src="{{profile.avatar}}" alt="profile.fullName">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{::profile.fullName}}</span>
                    <span class="md-subhead">{{::profile.bio}}</span>
                </md-card-title-text>
            </md-card-title>

            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" ng-click="ProfileSwiperController.approve(profile)">Approve</md-button>
                <md-button class="md-raised md-warn" ng-click="ProfileSwiperController.reject(profile)">Reject</md-button>
            </md-card-actions>
        </md-card>


    </div>

    <div ng-if="!filteredProfiles.length">
        All Done! All profiles have been reviewed
    </div>

</div>

